* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-weight: bold;
    font-family: 'Roboto';
    width:100%;
    margin: 0;
}
ul {
    list-style: none;
}
p {
    text-decoration: none;
    font-weight: 300;
}
a,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f3fea;
}
hr {
    background-color: rgba(0, 0, 0, 0.3);
    height: 1px;
    margin-left: 10%;
    margin-right: 10%;
}
button {
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius:0px; 
    padding:0; 
    overflow:visible; 
    cursor:pointer;
    outline: none;
}
input {
    all:unset;
}
input::placeholder {
    color: #575757;
    padding: 5px 20px;
}


/*
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/