:root {
    --toslide-blue: #3f3fea;
    --toslide-purple-blue: rgba(63, 63, 234, 0.2);
    --toslide-dark-blue: rgb(19, 29, 179);
    
    --toslide-small-font-size: 12px;
    --toslide-common-font-size: 18px;
    --toslide-large-font-size: 25px;
    --toslide-very-large-font-size: 35px;
    --toslide-icon-size: 90px;
    --border-radius: 24px;
    --tutorial-margin-bottom: 6rem;
    --gap-between-container: 84px;
    --margin-normal: 12px;
    --margin-large: 4rem;
    --margin-very-large: 8rem;
    --padding-middle: 1rem;
    --padding-large: 2rem;
}
main {
    margin:0;
}
nav{
    padding-left: 40px;
    padding-right: 40px;
}
.btn {
    border-radius: 10px;
}
.btn-primary {
	border: 2px solid  #3f3fea;
	color:  #3f3fea;
}

.btn-outline-primary {
	border: 1px solid  #bbbbf3;
    color:  #3f3fea;
    font-weight: bold;
}

.btn-outline-primary:hover {
    border: 1px solid  #3f3fea;
    background-color: #3f3fea;
    color:  #ffffff;
    font-weight: bold;
}

.manual {
    color:var(--toslide-dark-blue);
    background-color:white;
    border-radius:8px;
    min-width: 150px;
    max-width: 200px;
}

.row {
    justify-content:center;
}

.slogan {
    justify-content:start;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 359px;
}
.enter-btn {
    justify-content:start;
    margin-left: 10%;
    margin-right: 10%;
}