
    /* Layout Properties (position, float, clear, display)
    Box Model Properties (width, height, margin, padding)
    Visual Properties (color, background, border, box-shadow)
    Typography Properties (font-size, font-family, text-align, text-transform)
    Misc Properties (cursor, overflow, z-index) */
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'roboto' !important;
}

/* Buttons */
.btn-primary {
    margin-top: 1vh;
    padding:0;
    background-color: #3f3fea !important;
    border: none !important;
    font-size: 1.5vh;
}

.btn-primary:hover {
    background-color: gray !important;
    border: none;
}

.btn-image {
    margin-right: 1vh;
    width: 2vh;
}

/* Header */
header {
    position: relative;
}
header .sectionTitle {
    font-size: 2.5vh;
    font-weight: bold;
}
header .logo {
   height: 4vh;
}

/* Main */ 
.prepareExam {
    width: 22vh;
    padding: 0;
    justify-content: center;
}
.prepareExam .imgBox {
    height: 22vh;
    border: 3px solid #3f3fea !important;
    border-radius: 16px;
    overflow: hidden;
}
/* 시험에 불필요한 .. Box */
.prepareExam .box1 {
    padding-top: 27%;
    padding-right: 5%;
}
.prepareExam .box1 .img1 {
    width: 100%;
}

/* Active Windows .. Box */
.prepareExam .box2 {
    padding-left: 10%;
    padding-right: 10%;
}
.prepareExam .box2 .idField {
    margin-top: 1.3vh;
    font-size: 1.3vh;
}
.prepareExam .box2 .lecturer {
    margin-top: 30%;
}


/* 강사에게 메시지 .. Box */
.prepareExam .box3 {
    padding-left: 10%;
    padding-right: 10%;
}
.prepareExam .box3 .img3 {
    margin-top: 30%;
    margin-left: 30%;
    width: 75%;
    height: 70%;
}

.prepareExam .command {
    margin: 0.5vh 0 0 0;
    text-align: center;
    font-size: 1.3vh;
}
.arrow {
    margin: 1vh 0 1vh 0;
    height: 3vh;
    text-align: center;
}
.arrow img{
    height: 100%;
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
}

.userInfoBox {
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 8px #0000001A;
    border-radius: 5px;
    font-size: 16px !important;
} 

@media (min-width: 768px) {
    header {
        margin: 10vh;
    }
    .btn-primary {
        margin-top: 1vw;
        font-size: 1.5vw;
    }
    .btn-image {
        margin-right: 1vw;
        width: 1.5vw;
    }
    .prepareExam {
        width: 20vw;
        height: auto;
    }
    .prepareExam .imgBox {
        height: 20vw;
    }
    .prepareExam .imgBox .idField {
        font-size: 1.2vw;
    }
    .prepareExam .command {
        margin: 1.5vh 0 0 0;
        font-size: 1.2vw;
    }
    .arrow {
        height: auto;
        margin: 1vw;
        padding-top: 5vw;
    }
    .arrow img {
        width: 100%;
        height: auto;
        transform: rotate(-90deg);
    }
    .userInfoBox {
        width: 20vw;
    }
}
