
    /* Layout Properties (position, float, clear, display)
    Box Model Properties (width, height, margin, padding)
    Visual Properties (color, background, border, box-shadow)
    Typography Properties (font-size, font-family, text-align, text-transform)
    Misc Properties (cursor, overflow, z-index) */

:root {
    --height-box-size   : 24vh;
    --height-small-font : 1.5vh;
    --height-basic-font : 1.9vh;

    --width-box-size   : 16vw;
    --width-small-font : 1vw;
    --width-basic-font : 1.3vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    font-family: 'roboto';
}

/* Bootstrap Buttons */
.btn-primary {
    padding: 0;
    background-color: #3f3fea !important;
    border: none !important;
    border-radius: 7px !important;
    font-size: var(--height-basic-font);
}
.btn-primary:hover {
    background-color: gray !important;
    border: none;
}
.btn-image {
    margin-right: 1vh;
    width: 2vh;
}

/* Header */
header {
    position: relative;
    margin-top: 2vh;
    margin-left: 5%;
    margin-bottom: 2vh;
}
header .sectionTitle {
    font: normal normal bold 26px Roboto;
    line-break: unset;
}
header .logo {
   height: 40px;
   margin-right: 2%;
}

/* Main */
main {
    padding-bottom: 5%;
}
.prepareExam {
    width: var(--height-box-size);
    padding: 0;
    justify-content: center;
}
.prepareExam .imgBox {
    height: var(--height-box-size);
    border: 3px solid #3f3fea !important;
    border-radius: 16px;
    overflow: hidden;
}
.prepareExam .imgBox button {
    margin-top: 8%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.prepareExam .imgBox .inboxText {
    margin-bottom: 1vh;
    font-size: var(--height-small-font);
    
}

/* GPS 허용 필수 .. Box */
.prepareExam .box0 .img0 {
    height: 65%;
    margin-top: 15%;
}

/* 시험에 불필요한 .. Box */
.prepareExam .box1 {
    padding-top: 27%;
    padding-right: 5%;
}
.prepareExam .box1 .img1 {
    width: 100%;
}

/* Active Windows .. Box */
.prepareExam .box2 {
    padding-left: 8%;
    padding-right: 8%;
}
.prepareExam .box2 .lecturerField {
    margin-top: 30%;
}


/* 강사에게 메시지 .. Box */
.prepareExam .box3 {
    padding-left: 8%;
    padding-right: 8%;
}
.prepareExam .box3 .img3 {
    margin-top: 20%;
    margin-left: 30%;
    width: 75%;
    height: 65%;
}

.prepareExam .command {
    text-align: center;
    margin: 1vh 0 0 0;
    font-size: var(--height-basic-font);
}
.arrow {
    height: 3vh;
    margin-bottom: 1vh;
    padding: 0;
    text-align: center;
}
.arrow img{
    height: 100%;
}

/* Footer */
footer {
    position: fixed;
    right:  0;
    bottom: 0;
    width: 40%;
    padding-right: 2%;
    padding-bottom: 3%;
}

.userInfoBox {
    min-width: 110px;
    width: 25vw;
    margin-bottom: 1vh;
    margin-right: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: white;
    box-shadow: 0px 0px 8px #0000001A;
    border-radius: 5px;
    font-size: var(--height-basic-font);
    overflow: hidden;
}

.lecturerBox {
    width: auto !important;
}

@media (min-width: 768px) {
    html, body {
        overflow: hidden;
    }
    header {
        margin-top: 6vh;
        margin-bottom: 12vh;
    }
    .btn-primary {
        font-size: var(--width-basic-font) !important;
    }
    .btn-image {
        margin-right: 1vw;
        width: 1.5vw;
    }
    .prepareExam {
        width: var(--width-box-size);
        margin: 0;
    }
    .prepareExam .imgBox {
        height: var(--width-box-size);
    }
    .prepareExam .imgBox .inboxText {
        font-size: var(--width-small-font);
    }
    .prepareExam .command {
        margin-top: 1.5vh;
        font-size: var(--width-basic-font) !important;
    }
    .arrow {
        height: auto;
        padding-top: 6vw;
        display: block;
    }
    .arrow img {
        width: 40%;
        height: auto;
        transform: rotate(-90deg);
    }
    footer {
        width: 100%;
    }
    .userInfoBox {
        width: 14vw; 
        font-size: var(--width-basic-font) !important;
    }
}
